
<h1 class="animated fadeIn fast" > Sobre Comics App</h1>
   <hr>
    <p class="animated fadeIn" >
        ¡Gracias por visitar nuestra página de cómics! Esperamos que disfrutes explorando nuestras historias y personajes, y que encuentres inspiración y entretenimiento en cada página. Estamos emocionados de compartir contigo nuestro amor por los cómics y esperamos que te unas a nosotros en este apasionante viaje.
    </p>

    <p class="animated fadeIn" >
        Esperamos que disfrutes explorando nuestras historias y personajes, y que encuentres inspiración y entretenimiento en cada página. Estamos emocionados de compartir contigo nuestro amor por los cómics y esperamos que te unas a nosotros en este apasionante viaje.
    </p>

    <p class="animated fadeIn" >
        Atentamente, Equipo de la Página de Cómics   
     </p>

