<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="assets/favicon.ico" alt="icono" width="30" height="24">
    <a class="navbar-brand" >Avengers Assamble</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="heroes" routerLinkActive="heroes">Heroes</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLink="about">About</a>
        </li>
      </ul>
      <div class="navbar-search">
     
          <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar héroe" class="search-input">
          <button class="search-button" (click)="buscar()">Buscar</button>
        
        
      </div>
     
    </div>
  </div>
</nav>

<div *ngIf="searchResult.length > 0" class="search-results-container">
  <hr>
  <h3>Resultados de búsqueda:</h3>
  <div class="search-results">
    <div *ngFor="let heroe of searchResult" class="search-result">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="heroe.img" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{heroe.nombre}}</h5>
              {{heroe.bio}}
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
